.authBtn {
    max-width: none !important;
    width: 100%;
    outline: none;
    font-size: 16px;
    font-weight: 600;
    img {
        height: 1.5em;
    }
}
.authBtnRow {
    display: flex;
    align-items: center;
    gap: 10px;
}