.footer {
  width: 100%;
  color: #cccccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 20px;
  position: relative;
  z-index: 10;
}

.footerLinks {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footerLink {
  color: #b2cab1;
  text-decoration: none;
  transition: color 0.2s ease;

  &:hover {
    color: #fff;
  }
}
