.sidebar {
    width: 90px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    overflow-y: hidden;
}
.content {
    padding: 10px;
    width: 100%;
    flex: 0 0 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.menu {
    width: 100%;
}
.menuList {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menuListItem {
    width: 100%;
    border-radius: 5px;
    a {
        padding: 10px 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        border-radius: inherit;
        font-size: 14px;
        font-weight: 600;
    }
    svg {
        width: 24px;
        height: 24px;
    }
}