.card {
    padding: 20px 20px 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
}
.actionBtnList {
    margin-right: auto;
    max-height: fit-content;
    display: inline-flex;
    align-items: center;
    gap: 5px;
}
.actionBtn {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: all 0.2s;
    > svg {
        opacity: 0.5;
    }
}
.info {
    margin: 10px auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.avatar {
    width: 100px;
    height: 100px;
}
.fullName {
    max-width: 300px;
    text-align: center;
}
.bio {
    max-width: 460px;
    text-align: center;
}
.btnList {
    display: inline-flex;
    align-items: center;
    gap: 5px;
}
.btn {
    padding: 10px 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    transition: all 0.3s;
    &.md {
        padding-left: 25px;
    }
}
.socials {
    display: inline-flex;
    align-items: center;
    gap: 5px;
}
.editProfileBtn {
    margin-left: auto;
}