.bodyContentBottom {
    margin: 30px auto 0;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    font-size: 16px;
}
.form {
    width: 100%;
}
.formContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.formOTPContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    .formInputError {
        position: static !important;
        transform: translate(0, 0) !important;
    }
}
.formInputWrapper {
    width: 100%;
    border-radius: 5px;
    position: relative;
}
.formInputContent {
    padding: 20px !important;
}
.formInput {
    width: 100%;
    border-radius: 5px;
}
.formInputError {
    display: flex;
    align-items: center;
    gap: 5px;

    position: absolute !important;
    top: 50%;
    right: 20px;
    transform: translate(0, -50%);

    font-size: 14px;
    color: var(--color-red-500);
}
.formCheckboxWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}
.formCheckboxLabel {
    font-size: 14px;
}
.formBtn {
    margin-top: 10px;
    width: 100%;
    max-width: none !important;
}