.card {
    width: 100%;
    display: flex;
    position: relative;
    border-radius: 5px;
    cursor: pointer;
    &::before {
        content: '';
        display: inline-block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}
.content {
    padding: 15px;
    flex: 1 0 auto;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: inherit;
    position: relative;
    z-index: 2;
}
.title {
    width: 100%;
}
.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}