.button {
  padding: 10px 30px;
  width: 100%;
  max-width: fit-content;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  border-radius: 5px;
  transition: all 0.3s ease;
  gap: 10px;

  font-size: 16px;
  font-weight: 500;
  line-height: 125%;

  &.square {
    padding: 12px;
  }
  &.border {
    border-width: 1px;
    border-style: solid;
  }
  &.variant {
    &-white {
      background: #f1ffee;
      color: var(--color-green-750);
    }
    &-black {
      background: #151515;
      color: var(--color-neutral-300);
    }
    &-lightGreen {
      background: var(--color-green-700);
      color: #fff;
    }
    &-darkGreen {
      background: var(--color-green-800);
      color: #fff;
    }
    &-transparent {
      background: transparent;
    }

    &-outline {
      &-darkGreen {
        border: 1px solid var(--color-green-800);
        background-color: transparent;
      }
    }
  }
  &.gradient {
    &.variant {
      &-white {
        background: linear-gradient(var(--color-green-20), var(--color-green-40));
      }
      &-black {
        background: linear-gradient(
              to bottom,
              var(--color-zinc-900),
              var(--color-neutral-900)
            )
            padding-box,
          linear-gradient(
              to bottom,
              var(--color-gray-650),
              var(--color-gray-550)
            )
            border-box;
        border-color: transparent;
      }
      &-lightGreen {
        background: linear-gradient(
              to bottom,
              var(--color-green-700),
              var(--color-green-800) 300%
            )
            padding-box,
          linear-gradient(
              to bottom,
              var(--color-green-300),
              var(--color-green-800)
            )
            border-box;
        border-color: transparent;
      }
      &-darkGreen {
        background: linear-gradient(
              45deg,
              rgba(48, 83, 47, 1),
              rgba(149, 251, 149, 0.3) 300%
            )
            padding-box,
          linear-gradient(
              45deg,
              rgba(48, 83, 47, 1),
              rgba(149, 251, 149, 1) 50%
            )
            border-box;
        border-color: transparent;
      }
      &-red {
        background: linear-gradient(to bottom, #cf515b, #a52b34);
        border-color: var(--color-red-500);
      }
    }
  }
  &.hover:hover {
    &.variant {
      &-outline-darkGreen {
        background-color: var(--color-green-800);
      }
    }
  }
}

:global(.dark) {
  .button {
    &.gradient {
      &.variant {
        &-white {
          background: linear-gradient(
                to bottom,
                rgba(243, 248, 242, 0.6),
                rgb(241, 255, 238, 0.6) 300%
              )
              padding-box,
            linear-gradient(45deg, rgba(48, 83, 47, 1), rgba(149, 251, 149, 1))
              border-box;
          border-color: transparent;
        }
        &-red {
          background: linear-gradient(
            to bottom,
            rgba(255, 122, 132, 0.1),
            rgba(122, 35, 39, 0.1)
          );
          border-color: var(--color-red-500);
        }
      }
    }
  }
}
