.content {
    padding: 20px;
    border-radius: 5px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.body {
    margin: 0 auto;
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.closeBtn {
    margin-left: auto;
    background-color: transparent;
    font-size: 30px;
}
.circle {
    width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 40px;
}
.title,
.desc {
    text-align: center;
}
.shareBtn {
    padding: 10px 80px;
}