.content {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    &.variant {
        &-lightGreen {
            background: linear-gradient(45deg, var(--color-green-800), var(--color-green-300));
        }
    }
}
.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: inherit;
}
.caption {
    font-size: 20px;
    font-weight: 600;
}