.wrapper {
  width: 100%;
  display: flex;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  height: 100%;
}
.content {
  width: 100%;
  display: flex;
  &.horizontal {
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    .image {
      width: 40.5%;
      max-height: 100%;
    }
    .text {
      width: 56%;
    }
  }
  &.vertical {
    flex-direction: column;
    gap: 20px;
    .image {
      width: 100%;
    }
  }
}
.image {
  border-radius: 5px;
  object-fit: cover;
}
.text {
  line-height: 120%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.title {
  font-weight: 500;
  line-height: 120%;
}
.footer {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}
.author {
  flex: 1 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.authorInfo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.authorAvatarWrapper {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--color-gray-650);
  display: flex;
  justify-content: center;
  align-items: center;
}
.authorAvatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}
.authorName {
  transition: all 0.2s ease;
}
.authorBtn {
  padding: 6.5px 30px;
  font-size: 14px;
}
.contextMenuTrigger {
  font-size: 15px;
}
.contextMenuModalOverlay {
  position: absolute;
  bottom: 0;
  right: 0;
}

.lg {
  .content {
    padding: 15px 15px 20px;
  }
  .text {
    font-size: 14px;
  }
  .title {
    font-size: 18px;
  }
  .footer {
    gap: 15px;
  }
}
.md {
  .content {
    padding: 15px;
  }
  .text {
    font-size: 14px;
  }
  .title {
    font-size: 16px;
  }
}
.sm {
  .content {
    padding: 15px;
  }
  .text {
    font-size: 13px;
  }
  .title {
    font-size: 16px;
  }
}
