.content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 5px;
}
.body,
.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-width: 1px;
    border-style: solid;
}
.body {
    height: 53vh;
    overflow-y: auto;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}
.footer {
    padding: 10px;
    width: 100%;
    height: 38vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    border-radius: 5px;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}
.marketOverviewFilter {
    padding: 10px;
}
.table {
    text-align: left;
    thead {
        th {
            padding: 15px 24px 15px 10px;
        }
    }
    td {
        padding: 15px 24px 15px 10px;
    }
}
.newsList {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.newsListItem {
    &.default {
        padding: 15px;
        border-radius: 5px;
        border-width: 1px;
        border-style: solid;
    }
}
.liquidationNewsHeader {
    padding-left: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.footerLink {
    margin-left: auto;
    display: inline-flex;
    align-items: center;
    gap: 5px;

    font-size: 14px;
    line-height: 120%;
    svg {
        height: 1.3em;
    }
}