.content {
    display: inline-flex;
    width: 45px;
    border-width: 1px;
    border-radius: 5px;
}
.body {
    padding: 2px;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: inherit;
}
.btn {
    padding: 8px !important;
    border-radius: 4px;
    svg {
        width: 20px;
        height: 20px;
    }
}