.input {
    padding: 11px 15px;
    flex: 1 0 auto;
    font-size: 14px;
    font-weight: 400;
    line-height: 120%;
    border-radius: inherit;
}
.wrapper {
    display: flex;
    border-radius: 5px;
}
.content {
    padding: 11px 15px;
    width: 100%;
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: inherit;
    .input {
        padding: 0;
        background: transparent !important;
        box-shadow: none !important;
    }
}
.startContent,
.endContent {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}