.content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 10px;
}
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  flex-shrink: 0;
}
.sliderBtnList {
  display: inline-flex;
  gap: 10px;
}
.slider {
  width: 100%;
  height: 100%;
}
