.form {
  width: 825px;
  display: flex;
  gap: 20px;
}
.column {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 30px;
}
.textInputList {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 10px;
}
.inputWrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 5px;
}
.input {
  padding: 20px;
}
.btnList {
  display: flex;
  align-items: center;
  gap: 10px;
}
.btn {
  padding: 14px 30px;
  max-width: none;
}
.avatarInputWrapper .errorText {
  text-align: center;
}
.avatarLabel {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  border: 1px solid transparent;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7))
      padding-box,
    linear-gradient(45deg, var(--color-green-800), var(--color-green-300))
      border-box;
}
.avatarPreview {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.previewImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.avatarPreviewCircle {
  position: relative;
  z-index: 2;
  font-size: 50px;
  line-height: 100%;
  text-align: center;
  width: 40%;
  height: 40%;
  background-color: #000;
  border-radius: 50%;
  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  span {
    display: inline-block;
    opacity: 0.3;
    font-weight: 600;
    line-height: 100%;
    transform: translateY(0.1em);
  }
}
.errorText {
  font-size: 10px;
  color: var(--color-red-500);
}
