.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.input {
    padding: 10px;
    width: 50px;
    height: 60px;
    justify-content: center;
    align-items: center;
    text-align: center;
}