.card {
  padding: 20px 25px 20px 20px;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  color: #0d0d0c;
}
.primary {
  background: linear-gradient(to bottom, #f3f8f2, #f1ffee) padding-box,
    linear-gradient(to bottom, var(--color-green-300), var(--color-green-800))
      border-box;
  border-color: transparent;
  .featureIconWrapper {
    border: 1px solid var(--color-green-800);
    svg {
      stroke: var(--color-green-800);
    }
  }
}
.zinc {
  border-color: var(--color-green-800);
  background: linear-gradient(
    to bottom,
    var(--color-zinc-900),
    var(--color-neutral-900)
  );
}
.title {
  font-size: 24px;
  font-weight: 500;
  line-height: 125%;
}
.desc {
  font-size: 16px;
  line-height: 150%;
}
.price {
  font-size: 16px;
}
.pricePerMonth {
  margin-top: 20px;
  .priceTitle {
    font-size: 1.5em;
  }
  .priceDesc {
    font-size: 1.1em;
  }
}
.pricePerYear {
  margin-top: 10px;
}
.discount {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.discountIconWrapper {
  width: 40px;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;

  font-size: 18px;
  &.primary {
    background: linear-gradient(
          45deg,
          rgba(48, 83, 47, 1),
          rgba(149, 251, 149, 1)
        )
        padding-box,
      linear-gradient(
          to bottom,
          rgba(48, 83, 47, 1),
          rgba(149, 251, 149, 1)
        )
        border-box;
    svg {
      stroke: #fff;
    }
  }
}
.btnList {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 10px;
}
.btn {
  padding: 14px 30px;
  width: 100%;
  max-width: none;
  border: none;
}
.features {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.feature {
  display: flex;
  gap: 10px;
  background-color: transparent;
}
.featureIconWrapper {
  margin-top: 0.15em;
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: transparent;

  font-size: 12px;
}

:global(.dark) {
  .card {
    color: #fff;
  }
  .primary {
    background: linear-gradient(
      45deg,
      rgba(48, 83, 47, 0.1),
      rgba(149, 251, 149, 0.1)
    );
    border-color: var(--color-green-800);
  }
  .featureIconWrapper {
    &.primary {
      border: 1px solid rgba(149, 251, 149, 0.5);
      svg {
        stroke: rgba(149, 251, 149, 0.5);
      }
    }
  }
  .discountIconWrapper {
    &.primary {
      background: linear-gradient(
            45deg,
            rgba(48, 83, 47, 0.1),
            rgba(149, 251, 149, 0.1)
          )
          padding-box,
        linear-gradient(
            to bottom,
            rgba(48, 83, 47, 0.1),
            rgba(149, 251, 149, 0.1)
          )
          border-box;
    }
  }
}
