.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content {
    margin: 0 auto;
    width: 410px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    
    text-align: center;
    line-height: 125%;
}
.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.title {
    font-weight: 600;
    font-size: 24px;
    line-height: 125%;
}
.desc {
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
}