@font-face {
    font-family: 'Roobert TRIAL';
    src: url('/fonts/Roobert TRIAL Light/Roobert TRIAL Light.eot');
    src: url('/fonts/Roobert TRIA LightL/Roobert TRIAL Light.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Roobert TRIAL Light/Roobert TRIAL Light.woff2') format('woff2'),
        url('/fonts/Roobert TRIAL Light/Roobert TRIAL Light.woff') format('woff'),
        url('/fonts/Roobert TRIAL Light/Roobert TRIAL Light.ttf') format('truetype'),
        url('/fonts/Roobert TRIAL Light/Roobert TRIAL Light.svg#Roobert TRIAL Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roobert TRIAL';
    src: url('/fonts/Roobert TRIAL/Roobert TRIAL.eot');
    src: url('/fonts/Roobert TRIAL/Roobert TRIAL.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Roobert TRIAL/Roobert TRIAL.woff2') format('woff2'),
        url('/fonts/Roobert TRIAL/Roobert TRIAL.woff') format('woff'),
        url('/fonts/Roobert TRIAL/Roobert TRIAL.ttf') format('truetype'),
        url('/fonts/Roobert TRIAL/Roobert TRIAL.svg#Roobert TRIAL') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}