.sidebar {
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
}
.title {
    margin-bottom: 10px;
}
.separator {
    margin: 10px 0;
    width: 100%;
    height: 1px;
}
.actionBtnList {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.actionBtn {
    max-width: none;
}
.link {
    padding: 10px;
    border-radius: 5px;
}
.box {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}