@import "tailwindcss";
@import "tw-animate-css";

/* @custom-variant dark (&:is(.dark *)); */

:root {

  --color-green-20: rgb(243, 248, 242); /* #F3F8F2 */
  --color-green-40: rgb(241, 255, 238); /* #F1FFEE */
  --color-green-50: rgb(233, 241, 232); /* #E9F1E8 */
  --color-green-200: rgb(188, 213, 187); /* #BCD5BB */
  --color-green-300: rgb(149, 251, 149); /* #95FB95 */
  --color-green-550: rgb(35, 144, 80); /* #239050 */
  --color-green-600: rgb(38, 134, 78); /* #26864E */
  --color-green-700: rgb(80, 124, 79); /* #507C4F */
  --color-green-750: rgb(61, 105, 60); /* #3D693C */
  --color-green-800: rgb(48, 83, 47); /* #30532F */
  --color-green-850: rgb(42, 52, 45); /* #2A342D */
  --color-green-900: rgb(27, 35, 29); /* #1B231D */
  --color-green-950: rgb(10, 42, 23); /* #0A2A17 */
  --color-green-980: rgb(24, 27, 25); /* #181B19 */

  --color-yellow-200: rgb(249, 244, 115); /* #F9F473 */
  --color-yellow-800: rgb(120, 116, 3); /* #787403 */
  --color-yellow-850: rgb(144, 139, 0); /* #908B00 */
  --color-yellow-900: rgb(108, 105, 2); /* #6C6902 */

  --color-rose-400: rgb(255, 122, 132); /* #FF7A84 */
  --color-red-500: rgb(234, 67, 53);  /* EA4335 */
  --color-red-900: rgb(125, 32, 39); /* #7D2027 */

  --color-slate-200: rgb(220, 220, 220); /* #DCDCDC */
  --color-slate-250: rgb(210, 227, 210); /* #D2E3D2 */
  --color-slate-300: rgb(190, 190, 190); /* #BEBEBE */

  --color-gray-400: rgb(164, 162, 162); /* #A4A2A2 */
  --color-gray-550: rgb(87, 86, 86); /* #575656 */
  --color-gray-600: rgb(77, 76, 76); /* #4D4C4C */
  --color-gray-650: rgb(66, 64, 64); /* #424040 */
  --color-gray-700: rgb(46, 46, 46); /* #2E2E2E */
  --color-gray-900: rgb(21, 21, 21); /* #151515 */

  --color-neutral-300: rgb(212, 212, 212); /* #D4D4D4 */
  --color-neutral-400: rgb(153, 149, 149); /* #999595 */
  --color-neutral-900: rgb(20, 25, 21); /* #141915 */
  --color-neutral-950: rgb(13, 13, 13); /* #0D0D0D */

  --color-zinc-900: rgb(25, 29, 26); /* #191D1A */ --radius: 0.625rem; --background: oklch(1 0 0); --foreground: oklch(0.145 0 0); --card: oklch(1 0 0); --card-foreground: oklch(0.145 0 0); --popover: oklch(1 0 0); --popover-foreground: oklch(0.145 0 0); --primary: oklch(0.205 0 0); --primary-foreground: oklch(0.985 0 0); --secondary: oklch(0.97 0 0); --secondary-foreground: oklch(0.205 0 0); --muted: oklch(0.97 0 0); --muted-foreground: oklch(0.556 0 0); --accent: oklch(0.97 0 0); --accent-foreground: oklch(0.205 0 0); --destructive: oklch(0.577 0.245 27.325); --border: oklch(0.922 0 0); --input: oklch(0.922 0 0); --ring: oklch(0.708 0 0); --chart-1: oklch(0.646 0.222 41.116); --chart-2: oklch(0.6 0.118 184.704); --chart-3: oklch(0.398 0.07 227.392); --chart-4: oklch(0.828 0.189 84.429); --chart-5: oklch(0.769 0.188 70.08); --sidebar: oklch(0.985 0 0); --sidebar-foreground: oklch(0.145 0 0); --sidebar-primary: oklch(0.205 0 0); --sidebar-primary-foreground: oklch(0.985 0 0); --sidebar-accent: oklch(0.97 0 0); --sidebar-accent-foreground: oklch(0.205 0 0); --sidebar-border: oklch(0.922 0 0); --sidebar-ring: oklch(0.708 0 0);
}

@variant dark (.dark &);
@variant light (.light &);

@theme inline {
  --color-green-20: rgb(243, 248, 242);
  --color-green-40: rgb(241, 255, 238);
  --color-green-50: rgb(233, 241, 232);
  --color-green-200: rgb(188, 213, 187);
  --color-green-300: rgb(149, 251, 149);
  --color-green-550: rgb(35, 144, 80);
  --color-green-600: rgb(38, 134, 78);
  --color-green-700: rgb(80, 124, 79);
  --color-green-750: rgb(61, 105, 60);
  --color-green-800: rgb(48, 83, 47);
  --color-green-850: rgb(42, 52, 45);
  --color-green-900: rgb(27, 35, 29);
  --color-green-950: rgb(10, 42, 23);
  --color-green-980: rgb(24, 27, 25);

  --color-yellow-200: rgb(249, 244, 115);
  --color-yellow-800: rgb(120, 116, 3);
  --color-yellow-850: rgb(144, 139, 0);
  --color-yellow-900: rgb(108, 105, 2);

  --color-rose-400: rgb(255, 122, 132);
  --color-red-500: rgb(234, 67, 53);
  --color-red-900: rgb(125, 32, 39);

  --color-slate-200: rgb(220, 220, 220);
  --color-slate-250: rgb(210, 227, 210);
  --color-slate-300: rgb(190, 190, 190);

  --color-gray-400: rgb(164, 162, 162);
  --color-gray-550: rgb(87, 86, 86);
  --color-gray-600: rgb(77, 76, 76);
  --color-gray-650: rgb(66, 64, 64);
  --color-gray-700: rgb(46, 46, 46);
  --color-gray-900: rgb(21, 21, 21);

  --color-neutral-300: rgb(212, 212, 212);
  --color-neutral-400: rgb(153, 149, 149);
  --color-neutral-900: rgb(20, 25, 21);
  --color-neutral-950: rgb(13, 13, 13);

  --color-zinc-900: rgb(25, 29, 26);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

[data-theme="dark"] {
  --background: #0a0a0a;
  --foreground: #ededed;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* color: var(--foreground); */
  font-family: "Schibsted Grotesk", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

input {
  border: none;
  outline: none;
}

/* Стили для светлой темы по умолчанию */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px rgb(243, 248, 242) inset !important;
  -webkit-text-fill-color: #000 !important;
  transition: background-color 5000s ease-in-out 0s;
}

/* Явные стили для светлой темы */
.light input:-webkit-autofill,
.light input:-webkit-autofill:hover,
.light input:-webkit-autofill:focus,
.light input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px rgb(243, 248, 242) inset !important;
  -webkit-text-fill-color: #000 !important;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.swiper {
  width: 100% !important;
  height: 100% !important;
}
.swiper .swiper-slide {
  height: auto !important;
}

.dark {

  --background: oklch(0.145 0 0);

  --foreground: oklch(0.985 0 0);

  --card: oklch(0.205 0 0);

  --card-foreground: oklch(0.985 0 0);

  --popover: oklch(0.205 0 0);

  --popover-foreground: oklch(0.985 0 0);

  --primary: oklch(0.922 0 0);

  --primary-foreground: oklch(0.205 0 0);

  --secondary: oklch(0.269 0 0);

  --secondary-foreground: oklch(0.985 0 0);

  --muted: oklch(0.269 0 0);

  --muted-foreground: oklch(0.708 0 0);

  --accent: oklch(0.269 0 0);

  --accent-foreground: oklch(0.985 0 0);

  --destructive: oklch(0.704 0.191 22.216);

  --border: oklch(1 0 0 / 10%);

  --input: oklch(1 0 0 / 15%);

  --ring: oklch(0.556 0 0);

  --chart-1: oklch(0.488 0.243 264.376);

  --chart-2: oklch(0.696 0.17 162.48);

  --chart-3: oklch(0.769 0.188 70.08);

  --chart-4: oklch(0.627 0.265 303.9);

  --chart-5: oklch(0.645 0.246 16.439);

  --sidebar: oklch(0.205 0 0);

  --sidebar-foreground: oklch(0.985 0 0);

  --sidebar-primary: oklch(0.488 0.243 264.376);

  --sidebar-primary-foreground: oklch(0.985 0 0);

  --sidebar-accent: oklch(0.269 0 0);

  --sidebar-accent-foreground: oklch(0.985 0 0);

  --sidebar-border: oklch(1 0 0 / 10%);

  --sidebar-ring: oklch(0.556 0 0);
}

/* Стили для темной темы */
.dark input:-webkit-autofill,
.dark input:-webkit-autofill:hover,
.dark input:-webkit-autofill:focus,
.dark input:-webkit-autofill:active,
html.dark input:-webkit-autofill,
html.dark input:-webkit-autofill:hover,
html.dark input:-webkit-autofill:focus,
html.dark input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px rgb(24, 27, 25) inset !important;
  -webkit-text-fill-color: #fff !important;
  transition: background-color 5000s ease-in-out 0s;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}