.header {
    padding: 24px 0 20px 20px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
.headerLink {
    display: inline-flex;
    align-items: center;
    gap: 3px;
}
.body {
    display: flex;
}
.bodyContentWrapper {
    padding: 20px;
    width: 68.5vw;
    border-right-width: 0.8px;
    border-right-style: solid;
}
.bodyContentHeader {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}
.bodyContentTools {
    display: flex;
    align-items: center;
    gap: 5px;
}
.bodyContentToolBtn {
    width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    transition: all 0.2s ease;

    font-size: 15px;
}
.article {
    padding: 0 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.articleTitle {
    font-size: 40px;
    line-height: 120%;
}
.articleMeta {
    display: inline-flex;
    align-items: center;
    gap: 20px;
}
.userInfo {
    display: flex;
    align-items: center;
    gap: 10px;
}
.userAvatarWrapper {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--color-gray-650);
}
.userAvatar {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.articleContent {
    padding-bottom: 20px;
    height: 57.5vh;
    overflow-y: auto;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}
.bodyCardListWrapper {
    padding: 20px 0 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.bodyCardList {
    width: 23.8vw;
    height: 87vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}
.articleCard {
    width: 100%;
}