.infoBoxList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.infoBox {
    padding: 20px;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
}
.infoBoxHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.infoBoxValue {
    font-size: 2.5rem;
}