.content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.boxList {
    display: flex;
    gap: 10px;
}
.box {
    flex: 1 0 33%;
    padding: 1px;
    border-radius: 5px;
}
.boxContent {
    padding: 20px;
    width: 100%;
    height: 58.5vh;
    border-radius: inherit;
    overflow: hidden;
}
.boxHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.boxTitle {
    font-weight: 500;
    font-size: 24px;
}
.boxCardList {
    margin-top: 15px;
    padding-bottom: 15vh;
    width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
        display: none;
    }
}
