.wrapper {
    width: 36.5vw;
    height: 92vh;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 10;
    transform: translate(300%, 0);
    transition: all 0.3 linear;
    &.active {
        transform: translate(0, 0);
    }
}
.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
.header {
    padding: 20px 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.headerBtnList {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 5px;
    
    position: absolute;
    top: 20px;
    right: 30px;
}
.headerBtn {
    border: 1px solid var(--color-green-800);
}
.headerContent {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.headerContentTop {
    display: flex;
    align-items: center;
    gap: 20px;
}
.headerContentCenter {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.headerContentBottom {
    display: flex;
    align-items: center;
    font-size: 14px;
}
.headerImage {
    max-width: 65px;
}
.headerTags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.headerTag {
    padding: 8px 15px 6px;
    max-width: fit-content;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border-width: 1px;
    border-style: solid;
    
    font-size: 14px;
    line-height: 120%;
    text-align: center;
    vertical-align: middle;
}
.headerTitle {
    font-size: 20px;
    font-weight: 600;
    line-height: 125%;
}
.body {
    padding: 0 40px 20px 20px;
    height: 45vh;
    overflow-y: auto;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;

    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
    h1, h2, h3, h4, h5, h6 {
        font-weight: 600;
    }
    h3 {
        font-size: 18px;
    }
    ul {
        margin-left: 20px;
        list-style-type: disc;
        display: flex;
        flex-direction: column;
        gap: 20px;
        li {
            font-size: 16px;
        }
    }
}
.messageWrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.messageActions {
    display: flex;
    align-items: center;
    font-size: 20px;
    gap: 10px;
}
.aiMessage {
    padding-bottom: 20px;
    font-size: 14px !important;
    font-weight: 500;
    ul {
        margin-left: 0;
        gap: 0;
        li {
            font-size: 14px !important;
        }
    }
}
.userMessage {
    margin-left: auto;
    padding: 15px;
    max-width: 80%;
    border-radius: 5px;
    white-space: normal;
}
.footer {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footerRow {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    border-width: 1px;
    border-style: solid;
}
.footerRowBtn {
    display: flex;
    align-items: center;
    gap: 8px;
}
.footerForm {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
}
.footerFormInputWrapper {
    padding: 0;
    flex: 1 0 auto;
}
.footerFormInput {
    border-radius: 0;
    font-size: 16px;
}