.layout {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  &.dark {
    &::before {
      display: inline-block;
    }
  }
  &::before {
    content: "";
    display: none;
    width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(13, 13, 13, 0.6);
    z-index: 1;
  }
  &:after {
    content: "";
    display: inline-block;
    width: 46vw;
    height: 46vw;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    background-color: var(--color-green-600);
    transform: translate(20%, -20%);
    filter: blur(500px);
  }
}
.header {
  padding: 15px 20px;
  height: 70px;
  position: relative;
  z-index: 10;
  color: white;
}
.content {
  flex: 1 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  z-index: 2;
}
.sidebar {
  flex: 0 0 90px;
}
.page {
  width: calc(100vw - 90px);
  // overflow-y: auto;
}
