.content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.tools {
    display: flex;
    align-items: center;
    gap: 20px;
}
.moreBtn {
    font-size: 15px;
}