.wrapper {
    display: flex;
    height: 100%;
}
.content {
    padding: 20px;
    padding-bottom: 100px;
    flex: 1 0 auto;
    overflow-y: auto;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}