.content {
    display: flex;
    flex-direction: column;
}
.btnList {
    padding: 0 20px;
    display: flex;
    align-items: center;
    gap: 40px;
}
.btn {
    padding: 10px 0;
    position: relative;
    &.active {
        background-clip: text;
        color: transparent;
    }
    &::after {
        content: '';
        display: inline-block;
        width: 160%;
        height: 2px;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, 0);
        background-color: inherit;
    }
}
.line {
    width: 100%;
    height: 2px;
}