.textarea {
    padding: 11px 15px;
    width: 100%;
    flex: 1 0 auto;
    font-size: 14px;
    font-weight: 400;
    line-height: 120%;
    color: #fff;
    border-radius: 5px;
    &::placeholder {
        color: var(--color-gray-400);
    }
}