.content {
    padding: 20px 10px;
    width: 280px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.header {
    display: flex;
    align-items: center;
    gap: 10px;
}
.body {
    width: 100%;
}
.separator {
    margin: 20px 0 10px;
    width: 100%;
    height: 1px;
    display: block;
}
.navList {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.navLink {
    width: 100%;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
}