.container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 5px;
}
.content {
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    position: relative;
}
.icon {
    width: 100%;
    height: 100%;
    position: absolute;
}